*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
body{
    background: linear-gradient(140deg, black, rgb(7, 78, 136)) no-repeat fixed ;
    display: flex;
    justify-content: center;
}
.grid-conteiner{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px auto auto auto;
    gap: 20px;
    background-color: transparent;
}
/* INICIO DE CONTEINER 1 */
.conteiner1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 4vh;
    border-radius: 20px;
    grid-column: 1 / 4;
    background-color: transparent;
}
                                    /* fin de conteiner 1 */
/* INICIO DEL CONTEINER 2 */
.conteiner2{
    grid-column: 1 / 4;
    border-radius: 20px;
    color: aliceblue;
    padding-right: 20px;
    padding-left: 20px;

    border: 1px white solid
}
.nav{
    display: flex;
    justify-content: space-between;
}
ul{
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul li{
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}
ul li:hover{

    background-color: rgb(23, 140, 218);
    border-radius: 6px;

}
                            /* fin del conteiner 2 */
/* INICIO DEL CONTEINER 3 */
.conteiner3{
    grid-column: 1 / 3;
    border-radius: 20px;
    border: 1px transparent solid;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(-210deg, rgb(0, 6, 12), rgb(7, 47, 155));
    box-shadow: white 0px 0px 5px;
}
.titulo{

    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.instrucciones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
img{
    width: 700px;
    align-self: center;
    border-radius: 40px;
}
a{
    font-weight: 600;
}
a:visited{
    color: rgb(39, 188, 214);
}
a:hover{
    color: rgb(16, 179, 243);
    font-size: 22px;
}
a:focus{
    text-decoration: line-through;
}
                                /* fin del conteiner 3 */
    /* INICIO DEL CONTEINER4 */



.conteiner4{
    border-radius: 20px;
    border-radius: 20px;
    grid-column: 3 /4;
    grid-row: 3 / 4;
    padding: 20px;
}
.sigueme{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 40px;
}
.sigueme p{
    grid-column: 1 / 3;
    
    font-size: 30px;
    font-weight: 600;
}
.iconos{
    background-color: transparent;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 25px;
}
.iconos div:hover{
    border-color: rgb(12, 174, 214);

}
.fb{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    border: 1px whitesmoke solid;
    border-radius:10px;
}
.gh{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px whitesmoke solid;
    border-radius:10px;
}
.rdt{
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px whitesmoke solid;
    border-radius:10px;
}
.ig{
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px whitesmoke solid;
    border-radius:10px;
}
.fa-brands{
    font-size: 50px;
}
a:focus{
    color: rgb(1, 156, 245);
}
.fa-brands:hover{
    color: rgb(46, 156, 247);
}

.iconos p{
    font-size: 20px;
}
                        /* fin del centeiner 4 */
    /* INICIO DEL CONTEINER 5 */

.conteiner5{
    border-radius: 20px;
    grid-column: 1 / 4;
    border: 1px white solid;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto auto;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.name{
    grid-column: 1 / 4;
    text-align: center;
    font-weight: 700;

}
.year{
    display: flex;
    justify-content: center;
    font-weight: 700;
    grid-column: 2 / 3;

}
.number{
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: rgb(6, 209, 245);

}
.email{
    grid-column: 2 / 3;
}
legend{
    padding: 10px;
    margin: 30px;
    border-radius: 30px;
    border: rgb(6, 197, 245) 1px solid;
}
legend:hover{
    border-color: rgba(99, 236, 7, 0.952);
}
fieldset{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    align-items: center;
    border-color: rgb(10, 199, 247);
}
.btn{
   text-decoration: none;
   padding: 15px;
   border-radius: 10px;
   background: linear-gradient(250deg, rgb(0, 173, 216), rgb(26, 102, 163)); 
}  

.btn:hover{
    font-size: 20px;
    color: aliceblue;
    background: linear-gradient(250deg,rgb(26, 102, 163) ,rgb(0, 173, 216) ); 
}
.conteiner5 div{
    font-size: 20px;
    border-bottom: 1px rgb(175, 175, 175) solid;
}
